@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&family=Poppins:wght@200;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
    overflow-x: hidden;
}

header {
    background: #0e0d09;
    color: white;
    position: fixed;
    width: 100%;
    transition: 0.5s;
}

body.header-bg header {
    background: #375019;
    z-index: 100;
}

header .header-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    transition: 0.5s;
}

body.header-bg .header-flexbox {
    height: 60px;
}

header .logo-holder {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.header-bg .logo-holder {
    height: 40px;
}

header img {
    display: block;
    width: auto;
    max-height: 100%;
}

header p {
    letter-spacing: 0.2rem;
    margin-left: 10px;
    font-size: 18px;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: 60px;
    margin-bottom: 35px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 35px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin-bottom: 30px;
}

p {
    font-size: 10px;
    /* padding-bottom: 30px; */
    color: grey;
}

header .burger {
    padding: 5px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    display: none;
}

header .ul-list {
    display: flex;
    list-style: none;
}

header .ul-list li {
    margin-left: 40px;
    text-transform: capitalize;
    font-size: 1.1rem;
}

header .ul-list li:hover {
    color: #8f3901;
    font-weight: 700;
    cursor: pointer;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.banner_top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.3)), url(../img/trees-joshua-tree-national-park-usa.jpg);
    /* background-image: url(../img/trees-joshua-tree-national-park-usa.jpg); */

    /* background-image: url(../img/bg-main-banner.png); */
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    /* height: calc(100vh - 40px); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner_top p {
    color: white;
    /* text-shadow: 2px 1px 2px black; */
    letter-spacing: 1px;
    font-size: 90px;
    text-shadow: 3px 3px 3px black;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.banner_top h1 {
    color: white
}



.text {
    width: 600px;
    text-align: center;
}

.text p {
    color: white;
    font-size: 12px;
}

/* section p:last-of-type,
div p:last-of-type {
    margin-bottom: 0;
} */

.btn {
    background: linear-gradient(to bottom, #8f2e02 0%, #080808 100%);
    display: inline-block;
    text-decoration: none;
    /* Color change to respect the contrast */
    color: rgb(255, 255, 255);
    /* more padding */
    padding: 8px 8px;
    /* less border-radius */
    border-radius: 8px;
    font-size: 18px;
    /* font-weight: 600; */
    margin-top: 20px;

}

.btn:hover {
    background: #000000;
}

.section02 {
    background: whitesmoke;
    padding-top: 250px;
    color: #0e0e59;
    height: 100vh;
}

.section02-flex {
    display: flex;
    justify-content: space-between;
}

.img-left {
    height: 480px;
    width: 45%;
    background-image: url(../img/img-section02.jpg);
    background-size: cover;
    background-position: center;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text-right {
    width: 45%;
}

.text-right img {
    max-width: 80px;
}

.text-icone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.text-right .subtext p {
    color: black;
    font-size: 14px;
}

.icone {
    /* margin-top: 10px; */
    height: 80px;
    width: 18%;
}

.icone-img {
    width: 100%;
    height: auto;
}

.text-right .subtext {
    width: 75%;
    padding-left: 15px;
}

.section02 .popup {
    padding: 10px;
    border-radius: 10px;
    width: 330px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    margin-bottom: 20px;
    width: 80%;
}

.section02 .popup p {
    padding-bottom: 0;
    color: black;
    font-size: 14px;
}

.section02 .popup:hover {
    box-shadow: 5px 10px #888888;
}

.section02 .iconepop {
    height: 60px;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section02 .iconepop img {
    width: 90%;
    height: auto;
}

.section02 .textpop {
    width: 75%;
}

.section03 {
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(0.75turn, #bbbbbb5e, #fff 25%);
}

.section03 h2 {
    margin-bottom: 1rem;
}

.section03-grid {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 1.5rem;
}

.product-item {
    padding: 10px 15px;
    /* background-color: #f2dea2;
    border: 1px solid black; */
}

.product-image {
    width: 100%;
    height: 350px;
    margin-bottom: 1rem;
    background-position: center;
    background-size: cover;
}

.product-image-1 {
    background-image: url(../img/sotol-product-1.jpg);
}

.product-image-2 {
    background-image: url(../img/sotol-product-2.jpg);
}

.product-image-3 {
    background-image: url(../img/sotol-product-3.jpg);
}

.product-image-4 {
    background-image: url(../img/sotol-product-4.jpg);
}

.product-image-5 {
    background-image: url(../img/sotol-product-5.jpg);
}

.product-image-6 {
    background-image: url(../img/sotol-product-6.png);
}

.product-item h3 {
    margin-bottom: 1rem;
    font-weight: 500;
}

.product-item a {
    padding: 5px 25px;
    background-color: #375019;
    border-radius: 10px;
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s linear;
}

.product-item a:hover {
    background-color: #0e0d09;
}

.section03 .btn {
    background: #a86e3c;
    transition: all 0.3s linear;
}

.section03 .btn:hover {
    background: #0e0d09;
}

.section04 {
    background: whitesmoke;
    padding: 100px 0;
    color: #0e0e59;
}

.section04-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-sect04 {
    width: 31%;
    border: transparent;
}

/* class grouping for repeating styles */
.card-sect04 .img1-sect04,
.card-sect04 .img2-sect04,
.card-sect04 .img3-sect04 {
    border-radius: 10px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.card-sect04 .img1-sect04 {
    background-image: url(../img/img1-section04.jpg);
}

.card-sect04 .img2-sect04 {
    background-image: url(../img/img2-section04.jpg);
}

.card-sect04 .img3-sect04 {
    background-image: url(../img/img3-section04.jpg);
}

.card-sect04 .section04 h2 {
    text-align: center;
}

.card-sect04 .subtitle-sect04 {
    margin-top: 25px;
}



/* -----------------------------franks part */


.middle-section {
    padding: 120px 0;
    overflow: hidden;
    background: linear-gradient(0.75turn, #bbbbbb5e, #fff 25%);
  }
  
  .middle-sec-flex {
    display: flex;
    gap: 4em;
    position: relative;
  }
  
  .image {
    width: calc(50% - 30px);
    overflow: hidden;
    border-radius: 10px;
    height: 400px;
  }
  
  .image img {
    width: 740px;
    z-index: 20;
    position: relative;
  }
  
  #image-support {
    position: absolute;
    height: 350px;
    top: -4em;
    left: -6em;
  }
  
  .text2 {
    width: 50%;
    padding: 20px 0;
    text-align: left;
  }
  
  .text2 p  {
    color: black;
   font-size: 18px;
   text-align: left;
   margin-bottom: 30px;
  }

  .text2 span {
    margin-bottom: 10px;
    font-family: "Allura", cursive;
    font-size: 50px;
    color: #d63c31;
    font-weight: normal;
  }

  .text2 a{
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 25px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #ff5a0f 0%, #003104 100%);
    border-radius: 10px;
  }
  
  .recipies-special {
    position: relative;
    margin-left: 10em;
    padding-top: 10em;
  }

  
  .wrapper {
    width: 50%;
  }

  .wrapper p{
    font-size: 16px;
   color: black;
  }
  
  .recipies-special img {
    position: absolute;
    right: 0;
    top: -4em;
    padding: 20px;
    animation: spin 10s linear infinite;
    max-width: 50%;
    height: auto;
    margin: 20px;
    width: 400px;
  }
  
  #animated-img:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-play-state: paused;
    /* animation-play-state: running; */
  }
  
  @keyframes spin {
    100% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-5deg);
    }
  
    0% {
      transform: rotate(10deg);
    }
  }
/* -----------------------------frnkss part end   */

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
}

footer p {
    color: white;
    font-size: 12px;
}

/* @keyframes iconTransform {
    0% {
        transform: perspective(100px) rotate(0deg);
    }

    16.667% {
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }

    33.333% {
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }

    50% {
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }

    66.667% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }

    100% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
} */

@media only screen and (max-width: 992px) {
    .img-left {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    header .burger {
        display: block;
    }

    .section02 {
        height: auto;
        padding: 140px 50px 10px 50px;
    }

    .section02 .section02-flex {
        display: block;
    }

    .section02 .popup {
        position: static;
        margin-bottom: 20px;
        width: 60%;
    }

    .section02 .img-left {
        width: 100%;
    }

    .section02 .text-right {
        width: 100%;
    }

    .section02 h1 {
        text-align: center;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 768px) {
    header .menu-holder {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    header .ul-list {
        display: block;
        text-align: center;
        background: #375019;
        padding: 30px;
    }

    header .ul-list li {
        padding-bottom: 15px;
        margin-left: 0;
    }

    .section02 .text-right,
    .section02 .img-left {
        width: 100%;
    }

    .section02 {
        height: auto;
        padding: 140px 50px 10px 50px;
    }

    .section02-flex {
        display: block;
    }

    .section02 h1 {
        text-align: center;
        padding: 20px 0;
    }

    .section02 .icone {
        margin-top: 0;
    }

    .section03 .card h4 {
        font-size: 16px;
    }

    .section03 .title-sect03 {
        width: fit-content;
    }

    .section04 h3 {
        margin-bottom: 0;
        font-size: 16px;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .section02 {
        padding: 80px 0;
    }

    .section02 .container,
    .img-left {
        width: 100%;
    }

    .section02 .text-right {
        width: 80%;
        margin: auto;
        padding: 30px 0;
    }

    .section02-flex,
    .section03-flex,
    .section04-flex {
        display: block;
    }

    .section03 .card,
    .section03 .card-sect04 {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .section03 .text1 {
        margin: auto;
        padding-bottom: 0px;
        width: 80%;
    }

    .section03 .text1 p {
        font-size: 16px;
        text-align: center;
        padding-bottom: 30px;
    }

    .section03 .card h4 {
        font-size: 18px;
    }

    .section04 .card,
    .section04 .card-sect04 {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .section04 .title-sect04 {
        text-align: center;
    }
}